#sidebar{
    position: sticky;
    top:0;
    width:20vw;
    float: left;
    padding:20px;
}

#intro{
    width:100vw;
    text-align: center;
    padding: 20px;
}
#intro input{
    width:200px;
}
#latest-tweet{
    position: sticky;
    top:0;
    width:20vw;
    float: right;
}

.value{
    font-weight: 800;
    font-size: 2em;
}

.label{
    display: block;
}
label{
    display: block;
}
#main{
    height:300vh;
}

path {
    fill: none;
}

.vis{
    display: block;
    text-align: center;
}

circle{
    transition: fill 1s ease-in-out 0s, r 1s ease-in-out 1.2s, cx 1s ease-in-out 2.4s, cy 1s ease-in-out 2.9s, fill-opacity 0.5s ease-in-out 4.1s, stroke-opacity 0.5s ease-in-out 4.6s;
}

rect{
    transition: all 0.5s ease-in-out 0s
}

#tooltip{
    position: fixed;			
    pointer-events: none;		
    opacity: 0;
    width:400px;
}

#tooltip.active{
    transition: opacity 1s ease-in-out 0s;
    opacity: 1;
}

iframe {
    width: 100% !important;
    margin: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

/* #tooltip{
    position: fixed;			
    text-align: center;								
    padding: 0;				
    font: 12px sans-serif;	
    background-color: white;	
    border-radius: 10px;
    overflow: hidden;	
    pointer-events: none;		
    opacity: 0;
    width:250px;
}

#tooltip.active{
    transition: opacity 1s ease-in-out 0s;
    opacity: 1;
}

.profile_img{
    height:50px;
    width:50px;
    border-radius: 50%;
}
.tweet-header{
    padding: 10px;
    background-color: #C3EEFF;
}

.tweet-body{
    margin: 10px;
}

.tweet-details{
    padding: 10px;
    background-color: lightgray;
} */
